<div class="flex flex-col justify-between p-6 sm:p-20 gap-10">
  <div class="flex items-center gap-8">
    <div class="flex flex-col gap-2">
      <div class="home-welcome text-2xl sm:text-4xl">Welcome, to the</div>
      <div class="flex items-center gap-5 sm:gap-10">
        <div class="home-welcome-colorful px-8 text-4xl sm:text-8xl">Product Manager</div>
        <div>
          <img src="/assets/inventory.png">
        </div>
      </div>
    </div>
  </div>
  <div class="home-links pb-5 w-fit">
    <div class="home-links-title text-xl sm:text-2xl px-5 py-3">
      Page links
    </div>
    <div class="flex px-5">
      <div class="home-links-goto-product text-xl sm:text-4xl p-5 cursor-pointer" routerLink="/products">Go to
        Products
      </div>
    </div>
  </div>
</div>
